*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*#image-container{
  position: relative;
  display: block;
}*/
.text-overlay{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  color: white;
  
}
.nav{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  position: absolute;
  transform: translate(-50%,50%-);
  top: 1%;
}
#image-container h2{
  margin-right: 200px;
  margin-left: 30px;
  color: red;
}

.nav ul{
  padding-top: 5px;
  color: white;
  list-style-type: none;
  display: flex;
  gap: 30px;
  
}
.nav a{
  color: white;
  list-style: none;
  list-style-type: none;
}
.nav p{
  position: absolute;
  transform: translate(-90%,90%-);
  top: 73%;
  left: 40px;
  padding-top: 20px;
  color: white;
  
}
#our-stories{
  display: flex;
}
#our-stories button{
  background-color:#ED4333;
  color: white;
  padding: 10px 10px;
  border: #ED4333;
}

.lion{
padding: 50px 50px;
}
.images-2{
  display: flex;
  justify-content: center;
  
}
.text{
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 40px;
  
}
.text h1{
  margin-bottom: 50px;
  
}
.cards1{
margin-right: 2px;
}
.a{
  margin-top: 190px;
  margin-right: 15px;
}
.b{
  margin-top: 100px;
}
.c{
margin-top: 15px;
}
.pics{ 
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 45px;
  margin-right: 70px;
  row-gap: 20px;
  gap: 20px;
  margin-top: 100px;
}